.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
}

.navbar-logo img {
  height: 80px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-left: 50px;
}

.navbar-links li {
  display: inline;
}

.navbar-links .a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.navbar-links .a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.navbar-links .a:hover::after {
  width: 100%;
}

.navbar-search {
  position: relative;
}

.navbar-search input {
  padding: 0.5rem;
  border: none;
  border-radius: 50px;
  text-align: center;
  border: 1px solid #ccc;
}

.dropdown {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.dropdown li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

.dropdown-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 5px;
  margin-left:-45px;
}